{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 14
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "route": "./src/route",
          "config": "./src/config"
        }
      }
    ]
  ]
}
